<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<form method="POST" th:action="@{/login}">
    <input type="submit" value="Login"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</form>
<h1>Welcome to...</h1>
<img th:src="@{/images/TacoCloud.png}"/>
</body>
</html>